.header {
  display: flex;
  justify-content: flex-start;
  background: rgb(236, 112, 0);
}
.headerLogo {
  margin-left: 10px;
  padding: 5px 0;
}
.bannerContainer {
  position: relative;
}
.bannerImage {
  cursor: pointer;
}
.bannerText {
  position: absolute;
  width: 30%;
  bottom: 50%;
  left: 70px;
  font-size: 2.5rem;
  color: #fff;
  text-align: left;
  font-weight: 300;
}
.sectionContainer {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionTitle {
  font-size: 24px;
  padding: 0 22px;
  text-align: center;
}
.separator {
  width: 5rem;
  height: 0.2rem;
  margin: 0.5rem 0 30px;
  background-image: linear-gradient(135deg, #e66100 0%, #fea100 100%);
}
.plans {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.planCard {
  position: relative;
  cursor: pointer;
  margin: 0 25px;
  opacity: 0.8;
}
.planCard:hover {
  opacity: 1;
}
.planCard span {
  position: absolute;
  bottom: 30px;
  z-index: 2;
  left: 10%;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.overlay {
  background: #000;
  opacity: 0.6;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 2;
}
.oopsModal {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 20px;
  top: 30%;
  width: 300px;
  height: 300px;
  background-color: #fff;
  color: #000;
  font-weight: 300;
  z-index: 2;
  left: 45%;
  border-radius: 10px;
}
.oopsModal span {
  color: rgb(236, 112, 0);
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}
.oopsModal button {
  background: none;
  border: none;
  color: #fff;
  position: absolute;
  top: -35px;
  right: 5px;
  font-size: 26px;
  cursor: pointer;
}
.invisible {
  display: none;
}
.footerContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 112, 0);
  color: #fff;
}
.footerLogo {
  display: flex;
  justify-content: center;
}
.footerAbout {
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.footerDev {
  text-align: center;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 30px;
}

.formContainer {
  background: rgb(239, 233, 229);
  display: flex;
  padding: 30px 0;
}
.formApp {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 15px;
}
.formText {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.formHeading {
  font-size: 24px;
  line-height: 1;
  font-weight: 300;
}
.formSubtext {
  font-size: 16px;
  line-height: 1;
  font-weight: 300;
  margin-top: 20px;
}
.formSectionContainer {
  display: flex;
  flex-direction: column;
}
.formLabel {
  font-weight: 300;
  margin: 5px 0;
}
.formInput {
  margin: 8px 0;
  max-width: 100%;
  border: none;
  border-radius: 10px;
  height: 50px;
  padding: 0 10px;
}
.formInput:focus-visible {
  outline-color: rgb(236, 112, 0);
}
.formButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  font-weight: 300;
  font-size: 13px;
}
.formButton {
  background: rgb(236, 112, 0);
  border: none;
  border-radius: 5px;
  color: rgb(239, 233, 229);
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  text-transform: lowercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header {
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px;
  }
  .headerContainer {
    width: 100%;
    height: 75px;
    max-width: 1350px;
    display: grid;
    height: 100%;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
  }
  .headerList {
    display: flex;
    justify-content: space-around;
  }
  .headerList button {
    display: block;
    cursor: pointer;
    color: #2b374a;
    font-weight: 400;
    font-size: 18px;
    border: none;
    background: none;
  }
  .headerList button:hover {
    color: rgb(236, 112, 0);
    opacity: 0.6;
  }
  .headerHelp {
    display: flex;
    justify-content: flex-end;
  }
  .headerHelp a {
    color: rgb(16, 110, 176);
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
  }
  .headerHelp a:hover {
    opacity: 0.6;
  }
  .plans {
    flex-direction: row;
  }
  .sectionContainer,
  .formApp {
    max-width: 1250px;
    margin: 0 auto;
  }
  .sectionTitle {
    font-size: 32px;
    padding: 0;
    text-align: left;
  }
  .footerContainer {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 150px;
    align-items: center;
    background-color: rgb(236, 112, 0);
    color: #fff;
  }
  .footerLogo {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
  }
  .footerAbout {
    text-align: center;
    font-weight: 300;
    display: flex;
    flex-direction: column;
  }
  .footerDev {
    text-align: right;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }
  .formApp {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    min-height: 300px;
  }
  .formText {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    padding-top: 10px;
  }
  .formHeading {
    font-size: 32px;
    line-height: 1;
    font-weight: 300;
  }
  .formSubtext {
    font-size: 20px;
    line-height: 1;
    font-weight: 300;
    margin-top: 20px;
  }
  .formButtonContainer {
    max-width: 600px;
  }
  .formButton {
    width: 150px;
  }
  .formButton:hover {
    opacity: 0.8;
  }
}
